body {
    background-color: black;
}

h1 {
    color: yellow;
    text-align: center;
    background-color: rgb(35, 80, 170);
    padding: 10px;
    font-weight: 1000;
    font-family: 'Courier New';
}

h2 {
    color: white;
    font-weight: 1000;
    font-family: 'Courier New';
}

.list {
    color: white;
    font-size: 20px;
    font-family: 'Courier New';
    font-weight: 1000;
}

.introduction {
    color: white;
    font-weight: 1000;
    font-family: "Courier New";
}

#starters_image_div {
    width: 406px;
    height: 255px;
    border: 5px solid blue;
    margin: auto;
}

.pokemon_images {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    padding: 40px;
}

#bulbasaur_container {
    background-color: rgb(16, 158, 111);
    color: white;
    font-weight: 1000;
    font-family: "Courier New";
    padding: 15px;
    border-style: round;
    border-radius: 20px 20px 20px 20px;
    border-color: rgb(249, 249, 150);
    border-style: solid;
    margin-left: 15px;
    margin-right: 15px;
}

#charmander_container {
    background-color: rgb(243, 162, 100);
    color: white;
    font-weight: 1000;
    font-family: "Courier New";
    padding: 15px;
    border-style: round;
    border-radius: 20px 20px 20px 20px;
    border-color: rgb(249, 249, 150);
    border-style: solid;
    margin-left: 15px;
    margin-right: 15px;
}

#squirtle_container {
    background-color: rgb(147, 200, 208);
    color: white;
    font-weight: 1000;
    font-family: "Courier New";
    padding: 15px;
    border-style: round;
    border-radius: 20px 20px 20px 20px;
    border-color: rgb(249, 249, 150);
    border-style: solid;
    margin-left: 15px;
    margin-right: 15px;
}

h3 {
    color: white;
    font-size: 25px;
}

footer {
    color: white;
    padding-top: 100px;
    padding-left: 25px ;
}